<!doctype html>
<head>
    <title>Freebee - Donor Details</title>
</head>
<body style="background:#363636">
    <link rel="stylesheet" href="/css/productView.css">
    
    <h1 id="productTitle"> <%= product.productName %> </h1>
    <img id="productImage" src="data:image/jpeg;base64, <%= product.productImage.toString('base64') %>"> 
    <h3 id="productDescription"> <%= product.productDescription%> </h3>

    <div id="showInterestBox">
        <p>Please check your inbox! We have sent you an email giving you your donors contact information.</p>
    </div>

    <div id="userReporting"> 
        <a href="<%=`/report/accepter?p=${product.productID}` %>">Report this accepter</a>
    </div>

    <a href="<%= 'transactionDetails/donor/cancelDonation?p=' + product.productID %>">Cancel donation of this item</a>
</body>
</html>
